    p {
      font-family: Helvetica, Arial, sans-serif;
      color: #5863E3;
      font-weight: 700;
      margin-left: 144px;
      font-size: 18px;
    }

    h1 {
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 49px;
      margin-left: 144px;
      margin-top: -20px;
    }

    textarea {
      height: 298px;
      width: 650px;
      top: 253px;
      left: 144px;
      margin-left: 144px;
      resize: none;
      border: 2px solid #c6c6c6;
      padding: 20px;
      font-size: 14px;
      background-color: #F8F8F8;
    }

    textarea::placeholder {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 18px;
      font-weight: 700;
      color: #99999A;
    }

    form {
      margin-left: 860px;
      margin-top: -346px;
      width: 370px;
      height: 59px;
    }

    input[type="text"] {
      width: 370px; 
      height: 40px;
      margin-bottom: 10px;
      padding: 10px; 
      background-color: #F8F8F8;
      border-color: #c6c6c6;
    }

    input[type="submit"] {
      width: 395px; 
      height: 65px;
      margin-bottom: 10px;
      background-color: #5968F4;
      border-color: #5968F4;
      font-size: 16px; 
      font-weight: 700; 
      color: #FFFFFF; 
      font-family: Helvetica, Arial, sans-serif;

    }

    input::placeholder {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: 700;
      color: #99999A;
    }


    img {
    	margin-left: 227px;
    	width: 220px;
    	margin-top: 310px;
    	height: 140px;
    }

    .image2 {
    	margin-left: 140px;
    	height: 140px;
    	width: 170px;
    	margin-top: 310px;
    }

    .image3 {
    	margin-left: 160px;
    	height: 140px;
    	width: 170px;
    	margin-top: 310px;
    }

    .image4 {
    	margin-top: 25px;
    	width: 373px;
    	height: 373px;
    	margin-left: 45px;
    }

    .image5 {
    	margin-top: 25px;
    	width: 373px;
    	height: 373px;
    	margin-left: 60px;
    }
    
    .image6 {
    	margin-top: 25px;
    	width: 373px;
    	height: 373px;
    	margin-left: 60px;
    }
    
